<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<Parameter name="URL" value="https://ryze-staging.formedix.com/sign-in" />
		<Parameter name="Browser" value="Chrome" />
		<Parameter name="Username" value="testteamtechtest" />
		<Parameter name="Password" value="Ryz3T3st!x" />
	</TestRunParameters>

</RunSettings>